{% extends "layout.html" %}
{% block body %}
<div class="text-lg font-bold">Add a printer</div>
<form action="{{ url_for('addprinter') }}" method="post">
    <div>
        <label>
            Printer Name:
        </label><br>
        <input class="bg-inherit" type="text" id="name" name="name">
    </div>
    <div>
        <label>
            Type:
        </label><br>
        <select class="bg-inherit" id="type" name="type">
            <option value="LittlePrinter">Little Printer</option>
        </select>
    </div>
    <div>
        <label>
            Device Key URL:
        </label><br>
        <input class="bg-inherit" type="text" id="key_url" name="key_url">
    </div>
    <button class="mt-2 px-3 py-1 shadow bg-slate-400 hover:bg-slate-300" type="submit">Add Printer</button>
</form>
{% endblock %}