{% extends "layout.html" %}
{% block body %}
<h1 class="text-xl font-bold text-center">Content Sources</h1>
<div class="flex mt-4 w-full justify-center">
{% for content_source in content_sources %}
    <div class="flex-shrink rounded-md basis-auto bg-zinc-200 shadow-md p-4 text-center text-black">
        <div class="font-bold text-lg">
            {{content_source.name}}
        </div>
        <div>{{content_source.description}}</div>
        {% if not read_only %}
        <div class="mt-1 px-2 py-1 bg-emerald-400 rounded-md"><a class="font-bold" href="{{url_for(content_source.route)}}">Send to {{session.get("target_printer_name")}}</a></div>
        {% else %}

        {% endif %}
    </div>
{% endfor %}
<div>
{% endblock %}