{% extends "layout.html" %}
{% block body %}
<h1 class="text-md font-bold mt-2">Where am I?</h1>
<p>This website supplements the
  <a class="font-semibold underline text-blue-600 hover:text-blue-300"
    href="https://nordprojects.co/projects/littleprinters/"> Little Printer
    ecosystem</a> by allowing you to easily setup some content sources to
  regularly send fun and interesting things to your Little Printer. Simply
  sign up and provide your device key URL and you're off to the races.</p>
<h1 class="text-md font-bold mt-2">Do I need a Little Printer to use this?</h1>
<p>Not at all. In fact, using <a class="font-semibold underline text-blue-600
    hover:text-blue-300"
    href="https://github.com/fsckyou/sirius-client">these</a> <a
    class="font-semibold underline text-blue-600 hover:text-blue-300"
    href="https://github.com/fsckyou/python-paperang">projects</a> and following
  <a class="font-semibold underline
    text-blue-600
    hover:text-blue-300" href="https://tinyprinter.club">this guide</a> will
  allow you to
  use a regular thermal printer (or even just your console!) with the <a
    class="font-semibold underline
    text-blue-600
    hover:text-blue-300" href="https://littleprinter.nordprojects.co">littleprinter.nordprojects.co</a>
  service. You can get reasonably priced compatible thermal printers such as the
  <a class="font-semibold underline
    text-blue-600
    hover:text-blue-300"
    href="https://www.aliexpress.com/wholesale?SearchText=peripage+a6+printer">Peripage
    A6</a> or the <a class="font-semibold underline
    text-blue-600
    hover:text-blue-300"
    href="https://www.aliexpress.com/wholesale?SearchText=paperang+p1+printer">Paperang
    P1</a> from China.</p>
{% endblock %}